<div class="outmost">
  <div class="changepassword_nav">
    <button class="login" (click)="onLogoutClick()">LOGOUT</button>
    <button class="login" routerLink="/dashboard">Dashboard</button>
    <button class="login" routerLink="/profile">Profile</button>
  </div>
  <div ngClass="main">
      <div ngClass="changepassword_top">
        <h2>Change Password</h2>
      </div>
      <div ngClass="changepassword_form">
        <form [formGroup]="change_form" (ngSubmit)="ChangePassword()">
          <label>Enter Current Password</label><br>
          <input (click)="currentpassword_err=false" type="password" formControlName="current_password" autofocus><br>
          <span *ngIf="currentpassword_err" class="errormsg">Please enter a valid password!<br></span><br>
          <label>Enter New Password</label><br>
          <input (click)="newpassword_err=false" type="password" formControlName="new_password"><br>
          <span *ngIf="newpassword_err" class="errormsg">Please enter a valid password!<br></span><br>
          <label>Confirm Password</label><br>
          <input (click)="confirmpassword_err=false; passwordmatch_err=false" type="password" formControlName="confirm_password"><br>
          <span *ngIf="confirmpassword_err" class="errormsg">Please enter a valid password!<br></span><br>
          <span *ngIf="passwordmatch_err" class="errormsg">Password does not match!<br></span><br>
          <button type="submit" class="submit_valid">Change Password</button>
        </form>
      </div>
  </div>
</div>
