<div class="outmost">
  <div class="forgot_nav">
    <button class="login" routerLink="/login">Login</button>
  </div>
  <div class="main">
      <div class="top">
        <h2>Forget Password?</h2>
      </div>
      <div class="forgetpassword_form">
        <form (submit)="ForgetClk()">
          <label>Enter Email Address</label>
          <input type="text" class="form-control" [(ngModel)]="email" name="email"><br>
          <input type="submit" class="submitbtn" value="Send Password">
        </form>
      </div>
  </div>
</div>
