.outmost {
  overflow: hidden;
  width: 100%;
}
.forgot_nav {
  width: inherit;
  height: 70px;
  /*display: block;*/
  overflow: hidden;
  background-color: #eee;
  /*z-index: 1;*/
  box-shadow: 0 0 30px 0px #575757;
}
.forgot_nav .login {
  height: auto;
  color: #00c2d6;
  border: 2px solid #00c2d6;
  border-radius: 3px;
  outline: none;
  position: relative;
  float: right;
  top: 10px;
  margin: 5px;
  padding: 7px 9px;
  /*background-color: #00c2d6;*/
  background-color: transparent;
  /*box-shadow: 0 0 2px 2px gainsboro;*/
  cursor: pointer;
}
.forgot_nav .login:hover {
  background-color: #00c2d6;
  color: white;
}

.main {
  min-width: 800px;
  width: 800px;
  height: 400px;
  /*box-shadow: 0 0 2px 2px #51929C;*/
  box-shadow: 0 9px 8px 0px #575757, 0 -1px 2px 0px #575757, 12px 0 10px -8px #575757, -12px 0 10px -8px #575757;
  background-color: #F8FAF9;
  position: relative;
  top: 35px;
  margin-left: auto;
  margin-right: auto;
}
.main .top {
  margin: 0 0 0 0;
  height: 50px;
}
.main .top h2 {
  margin: 0;
  padding: 10px 0 10px 10px;
}
.forgetpassword_form {
  margin: 15px 10px 0 10px;
}

.submitbtn {
  border-radius: 15px;
  border: 1px solid grey;
  padding: 5px 15px 5px 15px;
  width: auto;
  outline: none;
  background-color: #00c2d6;
  color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
