<div class="outmost">
  <button class="login" routerLink="/login">LOGIN</button>

  <div class="jumbotron text-center" style="padding-top: 80px; width: 100%; height: 100%">
    <h1>Expense Tracker</h1>
    <p class="lead">Welcome to Pocket Expenses application, Make record of your daily expenses</p>
    <p class="lead">Sign Up Today. It's FREE!</p>

    <div>
      <a class="signupbtn" [routerLink]="['/register']">SIGN UP&nbsp; <i class="fa fa-caret-right" style="font-size: 32px; position: relative; top: 3px; left: 3px"></i><i class="fa fa-caret-right" style="font-size: 32px; position: relative; top: 3px; left: 1px"></i></a>
      <!--<a class="btn btn-default" [routerLink]="['/login']">Login</a>-->
    </div>
  </div>

  <div class="info">
    <div class="services">Services</div>
    <div class="services_sub">
      <div class="service1">
        <ul>
          <li>
            <h1>Add Expenses</h1>
            <div class="servicetxt">Add daily expenses by logging in and make record of it which you can see at any time you want and also can change it.</div>
          </li>
          <li>
            <h1>View your Expenses</h1>
            <div class="servicetxt">View past expenses category wise, average of expenses weekly and monthly, select category to see expenses for that particular category.</div>
          </li>
          <li>
            <h1>Graphical representation</h1>
            <div class="servicetxt">Choose the option to see the graphs created from your expenses which can be more helpful to do analysation of record.</div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
